*{
	margin: 0;
	padding: 0;
}

/*Start Hero*/

#header{
	width: 1380px;
	height: 100px;
	background: #000000;
	margin: 0 auto;
}

.logo{
	width: 30%;
	height: 100px;
	/*background: tomato;*/
	float: left;

}

.logo img{
	padding-top: 20px;
	margin-left: 20px;
}

.menu{
	width: 70%;
	height: 100px;
	float: left;


}

#dropdown-menu{
	list-style-type: none;
	min-height: 100px;
	margin-left: 420px;
	
	
}

#dropdown-menu li{
	float: left;
	position: relative;

}

#dropdown-menu li:hover{
	background: skyblue;
}

#dropdown-menu li a{
	color: white;
	text-decoration: none;
	padding: 37px 20px;
	display: block;
	font-size: 22px;

}

#dropdown-menu li a:hover{
	color: black;
}

#dropdown-menu li ul{
	list-style-type: none;
	padding: 0;
	position: absolute;
	left: -99999px;
}
#dropdown-menu li:hover ul{

	left: 0;
}
#dropdown-menu li ul li{

	float: none;
	width: 250px;
	background: black;
	position: relative;
}

/*Nested Menu*/
#dropdown-menu li ul li ul{

	list-style-type: none;
	padding: 0;
	position: absolute;
	top: -99999px;

}

#dropdown-menu li ul li:hover ul{

	top: 0;
	left: 250px;
}

/*End Header*/

/*Start Hero*/

#hero{
	width: 1380px;
	height: 600px;
	background-image: url('https://img.freepik.com/free-vector/modern-abstract-dark-violate-pink-background_84443-2784.jpg?semt=ais_hybrid&w=740&q=80');
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;

}

#hero h1.h-header{

			text-align: center;
			font-size: 75px;
			color: white;
			padding-top: 120px;
}	

#hero h1.h-header span{
	color: skyblue;
}	

#hero .h-pre{
			text-align: justify;
			font-size: 25px;
			color: white;
			padding: 20px 200px;
}

#hero .h-button{
	margin-left: 630px;
	padding: 15px 50px;
	font-size: 25px;
	background-color: skyblue;
	border-radius: 25px 0 25px 0;
	border: 5px solid tomato;
}

#hero .h-button:hover{
	background: #000000;
	color: white;
}


/*End Hero*/

/*Start About Section*/

#about{
	width: 1380px;
	height: 750px;
	margin: 0 auto;
	background: #000000;
}

#about .a-header{

	text-align: center;
	font-size: 75px;
	margin-bottom: 15px;
	padding: 40px 0 20px 0;
	color: #ffffff;
}

#about .a-img{
	width: 50%;
	height: 80%;
	background: gray;
	float: left;

}

#about .a-img img{
	width: 100%;
	height: 100%;
}


#about .a-content{
	width: 50%;
	height: 80%;
	background: black;
	float: left;


}

#about .a-content h2{
	padding: 10px 20px;
	font-size: 50px;
	color: white;


}

#about .a-content p{

	padding: 10px 20px;
	font-size: 22px;
	color: white;
	text-align: justify;

}

#about .a-content button{
	margin: 20px 0 0 20px;
	padding: 15px 50px;
	font-size: 25px;
	background-color: skyblue;
	border-radius: 25px 0 25px 0;
	border: 5px solid tomato;

}






/* End About Section */


/**/

#services{
	width: 1380px;
	height: 800px;
	margin: 0 auto;
	background: #000000;
	

}

#services .s-one{
	width: 33%;	
	height: 80%;
	padding: 20px 0;
	float: left;
	

}

#services .s-one img{
	width: 95%;
	height: 320px;
	padding: 0 0 15px 0;
	margin-left: 16px;
}

#services .s-one h3{
	text-align: center;
	color: white;
	font-size: 35px;

}

#services .s-one p{
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 20px;
}

#services .s-one button{
	margin: 20px 0 0 120px;
	padding: 15px 50px;
	font-size: 25px;
	background-color: skyblue;
	border-radius: 25px 0 25px 0;
	border: 5px solid tomato;
}

#services .s-two{
	width: 33%;
	height: 80%;			
	padding: 20px 0;
	float: left;		
}

#services .s-two{
	width: 33%;	
	height: 80%;
	padding: 20px 0;
	float: left;
	

}

#services .s-two img{
	width: 95%;
	height: 320px;
	padding: 0 0 15px 0;
	margin-left: 16px;
}

#services .s-two h3{
	text-align: center;
	color: white;
	font-size: 35px;

}

#services .s-two p{
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 20px;
}

#services .s-two button{
	margin: 20px 0 0 120px;
	padding: 15px 50px;
	font-size: 25px;
	background-color: skyblue;
	border-radius: 25px 0 25px 0;
	border: 5px solid tomato;
}

#services .s-three{
	width: 33%;
	height: 80%;
	padding: 20px 0;		
	float: left;		

}

#services .s-three{
	width: 33%;	
	height: 80%;
	padding: 20px 0;
	float: left;
	

}

#services .s-three img{
	width: 95%;
	height: 320px;
	padding: 0 0 15px 0;
	margin-left: 15px;
}

#services .s-three h3{
	text-align: center;
	color: white;
	font-size: 35px;

}

#services .s-three p{
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 20px;

}

#services .s-three button{
	margin: 20px 0 0 120px;
	padding: 15px 50px;
	font-size: 25px;
	background-color: skyblue;
	border-radius: 25px 0 25px 0;
	border: 5px solid tomato;
}



/**/
